<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="8">
        <c-card-group>
          <c-card class="p-0">
            <c-card-body class="p-4">
              <form cForm [formGroup]="loginForm" (ngSubmit)="login()">
                <h1>Login</h1>
                <p class="text-medium-emphasis">Sign In to your account</p>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg [cIcon]="icons.cilUser"></svg>
                  </span>
                  <input autoComplete="email" cFormControl placeholder="Email" formControlName="email" />
                </c-input-group>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg [cIcon]="icons.cilLockLocked"></svg>
                  </span>
                  <input
                    autoComplete="current-password"
                    cFormControl
                    placeholder="Password"
                    type="password" formControlName="password"
                  />
                </c-input-group>
                <c-row>
                  <c-col xs="6">
                    <button type="submit" cButton class="px-4" color="primary" [disabled]="!loginForm.valid">
                      Login
                    </button>
                  </c-col>
                </c-row>
                <c-row>
                  <c-col>
                    <label class="err-txt">{{et}}</label>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
            <mat-progress-bar [class.visibility]="loading" mode="indeterminate"></mat-progress-bar>
          </c-card>
          <c-card [ngStyle]="{'width.%': 44}" class="text-white bg-primary py-5">
            <c-card-body class="text-center">
              <div>
                <h2>Welcome Back!!!</h2>
                <p class="p-3">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.
                </p>
              </div>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
